	/* Font */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
	font-family: "Arimo";
	src: url("../font/Arimo-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Arimo";
	src: url("../font/Arimo-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Changes how the browser calculates the size of elements, preventing many common layout bugs.*/

* { 
	box-sizing: border-box;
}

body {
	font-family: "Arimo", "Roboto", sans-serif;
	font-weight: 300;
	color:  #5f5f5f;
	background-color: lightcyan;
	margin: 0;
	line-height: 1.4;
}

.grid-container { 
	display: grid;
    grid-template-columns: repeat(12,1fr);
	width: min(1100px, 100%);
	margin: 0 auto;
	gap: 1rem;
	padding: 1rem;
}

.grid-container >* {
	grid-column: span 12;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #1b263b;
}

/*
h2 {
  margin-top: 40px;
  font-size: 28px;
}

h3 {
  margin-top: 24px;
  font-size: 20px;
  color: #444;
} */

h2 {
	font-size: 1.75rem;
	color: #1b263b;
}

h3 {
	font-size: 1.5rem;
	color: #1b263b;
}

p {
	font-size: 1.3rem;
	color: #1b263b;
}

img.logo {
	height: auto;
	max-width: 200px;
	border-radius: 0.15rem;
	display: block;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;	
}


	 /* ---------- Basic Style for Mobile - Display Width - 430 px ---------- */


	 /* Main Page */

.welcome-container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.2rem;
    box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
}

.welcome-container img {
	border-radius: 300px;
	padding: 3rem;
}

.welcome-left{
	margin: auto;
}

.welcome-right {
	padding: 2rem 1.5rem;
}

.welcome-right a {
	margin: 3rem 0;
}

	/* Style fo cards on the Course Page */

.page-title {
	text-align: center;
}

.semester-title {
	color: #1b263b;
	margin: 2rem;
}

.module-card {
	background: #fff;
	margin: 0.5rem 0; /* New */
	padding: 1rem;
	border: 1px solid lightgrey; /* New */
	border-radius: 0.2rem; /* Changed */
	box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
}

.module-card:hover {
	/* transform: translateY(-5px);  Changed */
	border: 1px solid lightgrey;
	box-shadow: 0 5px 25px rgba(26, 26, 26, .3);
}

.module-title {
	font-size: 1.3rem;
	/* color: #000; */
	color: #1b263b;
	margin: 0.75rem 0 0.5rem;
}

.module-desc {
	margin: 0.5rem 0 0;
}

	/* Styles for Projects Page */ /* All New */

.projectsPage h1,
.projectsPage h2 {
	margin: 0.5rem 0;
}

.mainImage {
    box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
}

.mainImage:hover {
    opacity: 1.0;
    box-shadow: 0 3px 16px rgba(26, 26, 26, .2);
}

.messageDisplay, 
.linksDisplay, 
.thumbnailsDisplay {
	text-align: center;
}

.projectsPage p {
	margin: 1.5rem auto;
}

.thumbnails{
	display: none;
	/*display: inline;*/
    opacity: 0.5;
	border-radius: 3px;
    box-shadow: 0 3px 16px rgba(26, 26, 26, .15);
}

.thumbnails:hover {
    opacity: 1.0;
    transform: translateY(-5px); 
	box-shadow: 0 3px 16px rgba(26, 26, 26, .3);
}

.swap-image-link {
	display: inline;
	max-width: 155px;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #8595a8;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.5rem 2.5rem;
    margin: 15rem 0;
    box-shadow: 0 3px 16px rgba(26, 26, 26, .15);
}

.swap-image-link:hover{
	color: #1b263b;
    background-color: #cdd4db;
    border: 1px solid gray;
    box-shadow: 0 5px 25px rgba(26, 26, 26, .3);
}

	/* Styles for Contact Page - Standart Style for Mobile */

.contact-page{
	background: #fff;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.2rem;
    box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
}

.contact-page a {
	color: #1b263b;
	text-decoration: none;
}

.contact-page-info {
	margin: 0.5rem;
	padding: 0 1rem 1.5rem;
	/* background-color: #f8ffd2; - just for work */
}

.contact-page-info p{
	padding: 1.5rem 0;
}

.contact-page-info a {
	font-size: 1.5rem;
}

.contact-page-form {
	margin: 0.5rem;
	padding: 1rem 1rem;
	/* background-color: #c1ffc5; - just for work */
}

.contact-form {
	display:grid;
	grid-template-columns: 1fr;
	gap: 1.5rem 0;
	margin: 2.5rem 0 0;
}

.form-group {
	display:flex;
	flex-direction: column;
} 

.contact-form textarea,
.contact-form input {
	padding:0.6rem;
	border:1px solid #ccc;
	border-radius:3px;
	font-size:1rem;
}

.contact-form button{
	display: grid;
	grid-column: 2;
	max-width: 15rem;
	margin: 1rem 0 0;
	padding: 0.5rem 3rem;
	color: #f2f2f2;
	font-size: 1.1rem;
	background-color: #8595a8;
	border: none;
}

button:hover{
	background-color: #cdd4db;
	color: #1b263b;
	box-shadow: 0 5px 25px rgba(26, 26, 26, .15);
} 

.contact-page input {
	color: #1b263b;
}

a.buttons {
	text-decoration: none;
	margin:3rem 0 1rem;
	padding: 0.5rem 3rem;
	color: #f2f2f2;
	font-size: 1.1rem;
	background-color: #8595a8;
	box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
	border: none;
	border-radius: 0.15rem;
}

a.buttons:hover{
	background-color: #cdd4db;
	color: #1b263b;
	box-shadow: 0 5px 25px rgba(26, 26, 26, .15);
} 


	/* Styles for Interests Page */

.interests-container-1, .interests-container-2 {
	display: grid;
	grid-column: span 12;
	background-color: #fff;
	margin: 2rem 0;
	padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.2rem;
    box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
	}

.interests-left{
	margin: auto;
	}

.interests-right{
	padding: 2rem 1.5rem;
}

	/*Styles for Guides */

.guides-container {
	display: grid;
	grid-column: span 12;
	background-color: #fff;
	margin: 2rem 0;
	padding: 2rem 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.2rem;
    box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
	}

.guide-hero {
	text-align: center;
	margin: 2.5rem auto 2.5rem;
	max-width: 700px;
}

	/* Modern soft gradient for Section Divider */

.section-divider {
	height: 2px;
	margin: 3rem 0;
	background: linear-gradient(
    	to right,
    	transparent,
    	lightgrey,
    	transparent);
}

.guide-section {
	margin: 0;
}

.highlight-box {
  padding: 1.25rem;
  border-left: 4px solid #8595a8;
  border-right: 4px solid #8595a8;
  background-color: rgba(238, 238, 238, 0.63);
  border-radius: 1rem;
  margin: 2rem 0;
  box-shadow: 0 3px 16px rgba(26, 26, 26, .25);
}

.guide-section, .section-card {
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 3px 16px rgba(26, 26, 26, .1);
  margin:1.5rem 0;
}

ul {
  padding-left: 2.5rem;
  margin: 1.5rem 0;
}

li {
  margin-bottom: 0.7rem;
}

.meta {
	font-size: 0.9rem;
}

	/* Styles for Footer */

.footer-container {
	background-color: #8595a8;
	box-shadow: 0 3px 16px rgba(26, 26, 26, .1); /* New */
}

.logo-box {
	margin: 1.5rem auto;
}

.menu-box{
	margin: 1.5rem auto;
	text-align: center;	
}

.menu-box > a{
	display: inline-block;
	text-decoration: none;
	font-size: 1.1rem;
	color: #f2f2f2;
	padding: 0.5em 0;
}

.icons-box{
	margin: 1.5rem auto;
	text-align: center;	/* New */
}

	/* New Part for Footer */

.icons-box > a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	font-size: 1.1rem;
	color: #f2f2f2;
	padding: 0.7em 0;
}

.icons-box img{
	display: block;
	width:35px;
	height:auto;
	margin: auto;
}

.footer-container {
	display: grid;
	grid-template-columns: 6fr 6fr;
}

.logo-box {
		grid-column: span 12;
		margin: auto;
	}



	 /* ---------- Tablet display ---------- */

@media (width > 430px)
{
	.contact-page{
		margin: 0;
	}

	.contact-page-info {
		margin: 0.5rem;
		padding: 1rem 2rem;
	}

	.contact-page-form button{
		grid-column: 2/3;
		max-width: 175px;
	}
	.form-label{
		margin: 0;
		padding-top: 0.7rem;
	}

	.form-input {
		margin: 0;
	}

	.main-page main{
		min-height: 60vh;
		background-image: url('../images/workspace.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

}


@media (width > 600px)
{
	.welcome-container {
		margin: 3rem;
	}

	.welcome-right {
		margin: 3rem;
    	padding: 2rem 1.5rem;
	}

	.module-card-template { /* Changed */
		display: grid;
		grid-template-columns: 6fr 6fr; /* Changed */
	}

	.module-card {
		margin: 0.5rem;
	}

	.footer-container {
		display: grid;
		grid-template-columns: 4fr 4fr 4fr;
	}

	.logo-box {
		grid-column: 1/2; /* New */
		margin: auto;
	}

	.menu-box { /* New */
		margin: auto;
	}

	.icon-box { /* New */
		margin: auto;
	}

	.thumbnails {
		display: inline;
	}
	
	.swap-image-link {
		display: inline;
		margin: 2.5rem 3rem;
	}

	.thumbnailsDisplay {
		padding: 0 2rem;
	}

	.module-title { 
		/* Alligning headings in Cardss on Course Page - When displaing two or tree cards in a row */
		min-height: 3.7rem;
	}

	.contact-form{
		grid-template-columns: 2fr 4fr;
		gap:2.25rem;
		margin: 2.5rem 0;
	}

	.contact-page-info{
		margin: 1rem;
		padding: 2rem 3rem;
	}

	.contact-page-info p{
		font-size: 1.3rem;
		padding: 2.5rem 0;
	}

	.contact-page-info a{
		font-size: 1.5rem;
	}

	.contact-page-form{
		margin: 1rem;
		padding: 1rem 3rem;
	}

	.interests-container-1 {
		display: grid;
		grid-template-columns: 4fr 8fr;
	}

	.interests-container-2 {
		display: grid;
		grid-template-columns: 8fr 4fr;
	}
}


@media (width > 830px) /* New Part */
{
	.welcome-container {
		display: grid;
		grid-template-columns: 5fr 7fr;
		margin: 3rem;
    	padding: 2rem;
	}

	.welcome-container img {
    	border-radius: 300px;
    	padding: 0;
	}

	.welcome-right {
        margin: 1rem;
        padding: 2rem 1.5rem;
    }
	
	.thumbnailsDisplay {
		padding: 0 2.5rem;
	}
	
	.contact-page{
		display: grid;
		grid-template-columns: 6fr 6fr;
	}

	.contact-page-form{
		padding: 0 1rem;
	}

	.contact-form {
		margin: 0;
		gap: 1.5rem;
	}
}


@media (width > 1000px)
{
	.welcome-container {
    	margin: 13rem 3rem;
	}
	.module-card-template { /* Changed Part */
		display: grid;
		grid-template-columns: 4fr 4fr 4fr;
	}

	.thumbnailsDisplay { /* New Part */
		padding: 0 5rem;
	}
	
	.interests-container-1 {
		display: grid;
		grid-template-columns: 5fr 7fr;
	}

	.interests-container-2 {
		display: grid;
		grid-template-columns: 7fr 5fr;
	}
}


	/* Nav (modern flexbox) */

.topnav {
	background-color: #8798a9;
	overflow: hidden;    /* ensures child elements don’t spill outside the rounded edges.*/
}

	  /* this creates spacing between the links and button. 
	  Even though they are never visible at the same time it is good practice 
	  as the layout should still work even if nothing is hidden*/
	 
	
.topnav-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 0.25rem;
    }
	
.nav-links {
	display: flex;
	align-items: center;
	gap: 0.25rem; 
}

.topnav a {
	display: inline-block;
	color: #f2f2f2;
	text-decoration: none;
	padding: 0.8em 1em;
	font-size: 1.1em;
	border-radius: 0.1rem;
}

.topnav a:hover {
	background-color: #cdd4db;
	color: #1b263b;
}
	
.topnav a.active {
	background-color: #93a2b2;
	color: #fff;
}


	/* Style for Burger Menu */
	
.menu-btn {
	display: none; /* shown on small screens */
	appearance: none;
	border: 0;
	background: transparent;
	color: #f2f2f2;
	padding: 0.6rem 0.75rem;
	/* Added border for Mobile menu button */
	border: 1px solid rgba(211, 211, 211, 0.5);
	border-radius: 0.2rem;
	margin-right: 0.5rem;
	cursor: pointer;
    }
	
.menu-btn:hover {
	background-color: #FFFFFF1F;
}

.menu-btn svg {
	display: block;
	width: 24px;
	height: 24px;
}


	/* Style for Menu with size less then 870 px - For Mobile or Tablet */

@media (max-width: 870px)
{
	.menu-btn {
		display: inline-flex; 
		align-items: center;
	}
	
	.nav-links {
		display: none;
		width: 100%;
		flex-direction: column;
		align-items: stretch;
	}
	
	.topnav.is-open .nav-links {
		display: flex;
	}
	.topnav.is-open .menu-btn {
		display: none;
	}
	
	.topnav a {
		width: 100%;
	}
}
